.detail {
  background-color: #7321a2;
  color: white;
  min-height: 100vh;
}

.detail-control {
  cursor: pointer;
  float: right;
  opacity: 0.6;
  padding: 1em;
  transition: opacity .3s;

  &:hover {
    opacity: 1;
  }

  a {
    color: white;
  }
}

.detail-header-section {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 3rem 0;
}

.detail-pricing {
  padding: 3.5rem 3rem 0;
}

.detail-header, .detail-info {
  min-width: 540px;
}

.detail-header {
  font-size: 64px;
  padding-right: 2rem;

  p {
    line-height: 1.2em;
    margin: 0;
  }
}

.detail-header-title {
  text-transform: lowercase;
}

.detail-header-desc {
  font-size: 1rem;
  max-width: 550px;
  padding-top: 2rem;
}

.detail-info {
  min-width: 270px;

  p {
    margin-top: 0;
  }
}
