.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  background-color: red;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 33.33%;
  justify-content: flex-end;

  p {
    color: white;
    font-size: 32px;
    margin: 0;
  }
}

.flex-item-blank {
  background-color: inherit;
}

.flex-item-double {
  background-color: blue;
  flex: 0 0 66.66%;
  min-height: 200px;
}
