.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  background-color: red;
  border: 1px solid white;
  flex: 1 0 300px;
}

.flex-item-blank {
  background-color: inherit;
}

.flex-item-double {
  background-color: blue;
  flex: 2 0 600px;
}

.tall {
  background-color: green;
  height: 100px;
}
