.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-transform: lowercase;

    li {
      padding-left: 20px;

    }
  }

  a {
    text-decoration: none;
  }
}

.navbar-nav {
  flex-grow: 2;
}

.navbar-brand {
  padding: 25px 0 25px 2%;
  flex-grow: 1;

  img {
    width: 230px;
  }
}

.navbar-right {
  justify-content: flex-end;
}
