.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    text-transform: lowercase;

    li {
      padding-left: 20px;

    }
  }

  a {
    text-decoration: none;
  }
}

.navbar-nav {
  flex-grow: 2;
}

.navbar-brand {
  padding: 25px 12px 25px 25px;
  flex-grow: 1;
  max-width: 180px;
}

.navbar-right {
  justify-content: flex-end;
  padding-right: 25px;
}
