.paper-spec {
  .paper-item:not(:last-child) {
    padding-bottom: 1.5rem;
  }
}

.paper-item {
  align-items: flex-end;
  display: flex;
}

.paper-icon-small {
  border: 4px solid white;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 230%;
  max-height: 52px;
  max-width: 52px;
  min-height: 52px;
  min-width: 52px;
  padding-left: .25rem;
}

.paper-desc {
  padding-left: .5rem;
  padding-bottom: .1rem;
}
