.price-grid {
  font-size: 1.25rem;
  transition: all .3s;
  width: 100%;

  table {
    table-layout: fixed;
  }

  thead {
    th {
      text-align: right;
    }
  }

  tbody {
    th {
      text-align: left;
    }

    td {
      text-align: right;
      width: 14.3%;

      a {
        color: white;
        cursor: pointer;
        opacity: 0.6;
        transition: opacity .3s;

        &:hover {
          opacity: 1;

          &::before {
            content: "\f07a";
            font-family: FontAwesome;
            font-size: .9em;
            padding-right: .5em;
          }
        }
      }
    }
  }
}
