.slide.ng-enter {
  transform: translateX(320px);
  transition: transform .3s ease-in-out;

  &.ng-enter-active {
    transform: translateX(0);
  }
}

.slide.ng-leave {
  transform: translateX(0);
  transition: transform .3s ease-in-out;

  &.ng-leave-active {
    transform: translateX(320px);
  }
}

.slide-icon.ng-enter {
  transform: translateX(88px);
  transition: transform .3s ease-in-out;

  &.ng-enter-active {
    transform: translateX(0);
  }
}

.slide-icon.ng-leave {
  transform: translateX(0);
  transition: transform .3s ease-in-out;

  &.ng-leave-active {
    transform: translateX(88px);
  }
}
