.tile-container {
  display: flex;
  flex-flow: row wrap;
}

.tile {
  cursor: pointer;
  flex: 0 0 33%;
  transition: background .3s;

  align-items: flex-end;
  display: flex;
  justify-content: flex-start;

  p {
    color: white;
    font-size: 32px;
    line-height: 1.2em;
    margin: 0;
    text-transform: lowercase;
  }
}

.tile-2x {
  flex: 0 0 66%;
}

// Workaround for IE's broken behavior with box-sizing
.tile-inner {
  padding: 3rem 2rem 1rem;
}

.tile-image {
  margin-bottom: 1.5em;
}
