@import 'h5bp';

@import 'layout';

@import 'flexbox';
@import 'navbar';
@import 'sidebar';
@import 'slide';

body {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
