@import 'h5bp';

@import 'angular-snap.css';
@import 'fonts.css';

@import 'layout';

@import 'flexbox';
@import 'navbar';
@import 'sidebar';
@import 'slide';

body {
  font-family: 'HelveticaNeueLT-Bold';
  font-size: 16px;
  margin: 0;
}

.snap-content {
  background-color: white;
  min-width: 985px;
}
