<div class="detail">
  <div class="detail-control">
    <a ng-click="$location.path('/')">
      <i class="fa fa-close fa-lg"></i>
    </a>
  </div>
  <div class="detail-header-section">
    <div class="detail-header">
      <p class="detail-header-title">Custom Envelope</p>
      <p class="muted">A7, fits 5×7 card</p>
      <p class="detail-header-desc">
        Oditaquos ma preritaspero cus explatque dolorunt, tem que doluptat.
        Otatia doluptatis dis dolorro mos adigenis autes dem imusam in nam
        estrunt doluptaquo eicabo.
      </p>
    </div>
    <div class="detail-info">
      <p>These paper work great for custom envelopes:</p>
      <div class="paper-spec">
        <div class="paper-item">
          <div class="paper-icon-small">S</div>
          <div class="paper-desc">Satin provides a heavier weight and a perfect finish.</div>
        </div>
        <div class="paper-item">
          <div class="paper-icon-small">M</div>
          <div class="paper-desc">Matte provides a subtle and artistic touch.</div>
        </div>
        <div class="paper-item">
          <div class="paper-icon-small">R</div>
          <div class="paper-desc">Environmentally friendly without sacrificing quality.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-pricing">
    <table class="price-grid">
      <thead>
        <tr>
          <td></td>
          <th>20</th>
          <th>50</th>
          <th>100</th>
          <th>250</th>
          <th>500</th>
          <th>1000</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>satin</th>
          <td><a ng-click="pulseCart()">$40</a></td>
          <td><a ng-click="pulseCart()">$113</a></td>
          <td><a ng-click="pulseCart()">$255</a></td>
          <td><a ng-click="pulseCart()">$300</a></td>
          <td><a ng-click="pulseCart()">$345</a></td>
          <td><a ng-click="pulseCart()">$485</a></td>
        </tr>
        <tr>
          <th>satin+silver</th>
          <td><a ng-click="pulseCart()">$45</a></td>
          <td><a ng-click="pulseCart()">$120</a></td>
          <td><a ng-click="pulseCart()">$295</a></td>
          <td><a ng-click="pulseCart()">$305</a></td>
          <td><a ng-click="pulseCart()">$420</a></td>
          <td><a ng-click="pulseCart()">$515</a></td>
        </tr>
        <tr>
          <th>recycled</th>
          <td><a ng-click="pulseCart()">$15</a></td>
          <td><a ng-click="pulseCart()">$38</a></td>
          <td><a ng-click="pulseCart()">$76</a></td>
          <td><a ng-click="pulseCart()">$190</a></td>
          <td><a ng-click="pulseCart()">$380</a></td>
          <td><a ng-click="pulseCart()">$760</a></td>
        </tr>
        <tr>
          <th>matte</th>
          <td><a ng-click="pulseCart()">$17</a></td>
          <td><a ng-click="pulseCart()">$42</a></td>
          <td><a ng-click="pulseCart()">$86</a></td>
          <td><a ng-click="pulseCart()">$225</a></td>
          <td><a ng-click="pulseCart()">$367</a></td>
          <td><a ng-click="pulseCart()">$568</a></td>
        </tr>
        <tr>
          <th>kraft</th>
          <td><a ng-click="pulseCart()">$17</a></td>
          <td><a ng-click="pulseCart()">$42</a></td>
          <td><a ng-click="pulseCart()">$86</a></td>
          <td><a ng-click="pulseCart()">$225</a></td>
          <td><a ng-click="pulseCart()">$367</a></td>
          <td><a ng-click="pulseCart()">$568</a></td>
        </tr>
        <tr>
          <th>gloss</th>
          <td><a ng-click="pulseCart()">$17</a></td>
          <td><a ng-click="pulseCart()">$42</a></td>
          <td><a ng-click="pulseCart()">$86</a></td>
          <td><a ng-click="pulseCart()">$225</a></td>
          <td><a ng-click="pulseCart()">$367</a></td>
          <td><a ng-click="pulseCart()">$568</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
