<nav class="navbar" role="navigation">
  <a class="navbar-brand" href="#">
    <img src="images/4by6-logo.png">
  </a>

  <ul class="navbar-nav">
    <li><a href="#">Products</a></li>
    <li><a href="#">Paper</a></li>
    <li><a href="#">Order Now</a></li>
  </ul>

  <ul class="navbar-nav navbar-right">
    <li><a href="#">My Orders</a></li>
    <li>
      <a href="#">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li ng-if="!data.displaySidebar">
      <a ng-click="data.displaySidebar=!data.displaySidebar">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
  </ul>
</nav>
